*{
    margin:0px;
    padding:0px;
    justify-content: space-between;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background: rgba(156, 219, 197, 0.918);
}


header{
    background-color: rgb(6, 73, 78);
    color: rgb(255, 255, 255);
    padding: 10px;
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    border-bottom: solid rgba(156, 219, 197, 0.918) 3px;
}

header .logo h1{
    font-size: 55px;   
}

header .logo h1 span{
 color:rgb(253, 94, 2) ;
}

header .menu{
    margin-bottom: 0px;
    margin-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 0px;
}

header .menu a{
    color: rgb(246, 246, 250);
    font-size: 20px;
    text-decoration: none;
    border-top: solid rgba(221, 69, 120, 0.959) 3px;
    border-left: solid rgba(221, 69, 120, 0.959)  3px;
    border-right: solid rgba(221, 69, 120, 0.959)  3px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
}

header .menu a:hover{
    background-color: rgb(9, 12, 41);
}

/*configuração da main*/

main{
    width: 100%;
    padding-top: 105px;
}


main .jogadores{
    width: 100%;
}

main .jogadores .jogadores4{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 50px;
}


main .jogadores .jogadores4 .cada{
    width: 22%;
    height: 480px;
    border: solid rgba(221, 69, 120, 0.959) 2px;
    border-radius: 30px;
    background-color: rgb(6, 73, 78);
}


main .jogadores .jogadores4 .cada .img, .txt{
    width: 100%;
}

main .jogadores .jogadores4 .cada .img{
    height: 60%;
}

main .jogadores .jogadores4 .cada .img img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}


main .golos, #assistir{
    width: 100%;
    justify-items: center;
}


/* estilizando a area de golos*/

main  .golos1{
    width: 95%;
    display: flex;
    justify-content: space-around;
    background-color:rgb(6, 73, 78) ;
    padding-top: 10px;
    padding-bottom: 10px;
}

main .golos1 span{
    font-size: 30px;
    color: rgb(253, 94, 2);
}

main .golos2{
    width: 95%;
    display: flex;
    justify-content: space-around;
    background-color:rgb(6, 73, 78) ;
    border-top: solid rgba(221, 69, 120, 0.959) 2px;
    padding-top: 20px;
    padding-bottom: 20px;
}
main  .golos2 p{
     font-size: 30px;
    color: white;
}

main .golos2 img{
    width: 100px;
    height: 100px;
    border-radius: 100px;
}


/* trabalhando o footer*/

footer{
    background-color:rgb(6, 73, 78) ;
    margin-top: 20px;
    border-top: solid rgba(156, 219, 197, 0.918) 3px;
    width: 100%;
   
}


footer section .ftop{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
}

footer section .ftop h2, a{
    font-size: 55px; 
    color: white;  
}
footer section .ftop h2 span{
 color:rgb(253, 94, 2) ;
}

footer section .ftop .alone{
    font-size: 30px; 
    text-decoration: none;
    padding-bottom: 5px;
    margin-right: 25px;
}



footer section .ftop .alone:hover{
    transition: 0.2s;
    border-bottom:solid rgb(9, 12, 41) 5px;
}